/**
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
* 
*   http://www.apache.org/licenses/LICENSE-2.0
* 
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.    
*/

button {
  @apply flex justify-center py-1.5 border-2 min-w-full relative cursor-pointer focus:outline-none;
}

.svg-icon {
  position: absolute;
  left: calc(calc(1rem / 2) - 5px);
  bottom: 0.25rem;
}

.icon-left {
  padding-left: calc(1rem + calc(calc(1rem / 2) - 1px) + calc(1rem / 2));
}

.btn-primary {
  @apply bg-blueBayouxShadeLynch border-blueBayouxShadeLynch hover:bg-blueBayouxShadeWaikawaGray focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tundoraShadeNobel;
}

.btn-secondary {
  @apply bg-white border-dustyGrayShadeAlto hover:bg-dustyGrayShadeGallery;
}

.btn-tertiary {
  @apply bg-selectionBlue border-blueBayouxShadeWaikawaGray hover:bg-dustyGrayShadeGallery;
}

.btn-primary-disabled {
  @apply bg-blueBayouxShadePigeonPost border-blueBayouxShadePigeonPost hover:bg-blueBayouxShadePigeonPost cursor-not-allowed;
}

.btn-secondary-disabled {
  background-color: #d3d3d3;
  @apply cursor-not-allowed;

  &:hover {
    background-color: #d3d3d3;
  }
}
