button {
  @apply flex justify-center py-1.5 border-2 min-w-full relative cursor-pointer focus:outline-none;
}

.svg-icon {
  position: absolute;
  left: calc(calc(1rem / 2) - 5px);
  bottom: 0.25rem;
}

.icon-left {
  padding-left: calc(1rem + calc(calc(1rem / 2) - 1px) + calc(1rem / 2));
}

.btn-primary {
  @apply bg-blueBayouxShadeLynch border-blueBayouxShadeLynch hover:bg-blueBayouxShadeWaikawaGray focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tundoraShadeNobel;
}

.btn-secondary {
  @apply bg-white border-dustyGrayShadeAlto hover:bg-dustyGrayShadeGallery;
}

.btn-tertiary {
  @apply bg-selectionBlue border-blueBayouxShadeWaikawaGray hover:bg-dustyGrayShadeGallery;
}

.btn-primary-disabled {
  @apply bg-blueBayouxShadePigeonPost border-blueBayouxShadePigeonPost hover:bg-blueBayouxShadePigeonPost cursor-not-allowed;
}

.btn-secondary-disabled {
  background-color: #d3d3d3;
  @apply cursor-not-allowed;

  &:hover {
    background-color: #d3d3d3;
  }
}
