
frontend:
  # Default values for k8s-helm-example.
  # This is a YAML-formatted file.
  # Declare variables to be passed into your templates.

  namespace: product-traceability-foss

  replicaCount: 1

  image:
    repository: ghcr.io/catenax-ng/tx-traceability-foss
    pullPolicy: Always

  ##
  ## Image pull secret to create to obtain the container image
  ## Note: 'imagePullSecret.dockerconfigjson' takes precedence if configured together with 'imagePullSecrets'
  ##
  imagePullSecret:
    dockerconfigjson: ""

  ##
  ## Existing image pull secret to use to obtain the container image
  ##
  # imagePullSecrets:
  #   - name: machineuser-pull-secret-ro

  nameOverride: "traceability-foss-frontend"
  fullnameOverride: "traceability-foss-frontend"

  autoscaling:
    enabled: false

  serviceAccount:
    ##
    ## Specifies whether a service account should be created per release
    ##
    create: true
    ##
    ## Annotations to add to the service account
    ##
    annotations: {}
    ##
    ## The name of the service account to use.
    ## If not set and create is true, a name is generated using the fullname template
    ##
    name: ""


  podAnnotations: { }

  podSecurityContext: { }
  # fsGroup: 2000

  # Following Catena-X Helm Best Practices @url: https://catenax-ng.github.io/docs/kubernetes-basics/helm
  # @url: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 101
    # runAsGroup: 3000

  service:
    type: ClusterIP
    port: 8080


  # Following Catena-X Helm Best Practices @url: https://catenax-ng.github.io/docs/kubernetes-basics/helm
  # @url: https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-resource-requests-and-limits
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 500m
      memory: 512Mi

  nodeSelector: { }

  tolerations: [ ]

  # Following Catena-X Helm Best Practices @url: https://catenax-ng.github.io/docs/kubernetes-basics/helm
  # @url: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: DoesNotExist
            topologyKey: kubernetes.io/hostname

  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts: []
    tls: []

  # Following Catena-X Helm Best Practices @url: https://catenax-ng.github.io/docs/kubernetes-basics/helm
  # @url: https://github.com/helm/charts/blob/master/stable/nginx-ingress/values.yaml#L210
  livenessProbe:
    failureThreshold: 3
    initialDelaySeconds: 60
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1
  readinessProbe:
    failureThreshold: 3
    initialDelaySeconds: 60
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1

backend:
  # Default values for k8s-helm-example.
  # This is a YAML-formatted file.
  # Declare variables to be passed into your templates.

  replicaCount: 1

  image:
    repository: ghcr.io/catenax-ng/tx-traceability-foss
    pullPolicy: Always

  ##
  ## Image pull secret to create to obtain the container image
  ## Note: 'imagePullSecret.dockerconfigjson' takes precedence if configured together with 'imagePullSecrets'
  ##
  imagePullSecret:
    dockerconfigjson: ""

  ##
  ## Existing image pull secret to use to obtain the container image
  ##
  imagePullSecrets: []

  serviceAccount:
    ##
    ## Specifies whether a service account should be created per release
    ##
    create: true
    ##
    ## Annotations to add to the service account
    ##
    annotations: {}
    ##
    ## The name of the service account to use.
    ## If not set and create is true, a name is generated using the fullname template
    ##
    name: ""

  podAnnotations: { }

  springprofile: dev #will be set as dev

  nameOverride: "traceability-foss-backend"
  fullnameOverride: "traceability-foss-backend"

  podSecurityContext:
    runAsUser: 10001
    seccompProfile:
      type: RuntimeDefault

  # Following Catena-X Helm Best Practices @url: https://catenax-ng.github.io/docs/kubernetes-basics/helm
  # @url: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 10001
    runAsGroup: 3000
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: false

  service:
    type: ClusterIP
    port: 8080

  autoscaling:
    enabled: false

  # Following Catena-X Helm Best Practices @url: https://catenax-ng.github.io/docs/kubernetes-basics/helm
  # @url: https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-resource-requests-and-limits
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 500m
      memory: 512Mi

  nodeSelector: {}

  tolerations: []

  # Following Catena-X Helm Best Practices @url: https://catenax-ng.github.io/docs/kubernetes-basics/helm
  # @url: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: DoesNotExist
            topologyKey: kubernetes.io/hostname

  # Following Catena-X Helm Best Practices @url: https://catenax-ng.github.io/docs/kubernetes-basics/helm
  # @url: https://github.com/helm/charts/blob/master/stable/nginx-ingress/values.yaml#L210
  livenessProbe:
    failureThreshold: 3
    initialDelaySeconds: 80
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1
  readinessProbe:
    failureThreshold: 3
    initialDelaySeconds: 80
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 1

  ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts: []
    tls: []

  healthCheck:
    enabled: true #<healthCheck.enabled>

  traceability:
    bpn: "CHANGEME" #<traceability.bpn>
    url: "" #<traceability.url>

  datasource:
    url: jdbc:postgresql://tracex-backend-postgresql:5432/trace
    username: trace
    password: "CHANGEME" #<datasource.password>

  oauth2:
    clientId: "CHANGEME" #<oauth2.clientId>
    clientSecret: "CHANGEME" #<oauth2.clientSecret>
    clientTokenUri: "https://changeme.com" #<oauth2.clientTokenUri>
    jwkSetUri: "https://changeme.com" #<oauth2.jwkSetUri>
    resourceClient: "CHANGEME" #<oauth2.resourceClient>

  edc:
    apiKey: "" #<edc.apiKey>
    providerUrl: "" #<edc.providerUrl>

postgresql:
  enabled: true

  nameOverride: "tracex-backend-postgresql"
  fullnameOverride: "tracex-backend-postgresql"

  auth:
    postgresPassword: "CHANGEME" #<postgresql.auth.postgresPassword>
    password: "CHANGEME" #postgresql.auth.password>
    database: "trace"
    username: "trace"

pgadmin4:
  enabled: false #<pgadmin4.enabled>
  ingress:
    enabled: false  #<pgadmin4.ingress.enabled>

global:
  enablePrometheus: false  #<global.enablePrometheus>
  enableGrafana: false  #<global.enableGrafana>

irs-helm:
  enabled: false #<irs-helm.enabled>

irs-edc-consumer:
  enabled: false #<irs-edc-consumer.enabled>
