<div class="tabs-header">
  <section
    class="tab-label"
    (click)="this.selectTab(item)"
    [class.active]="this.activeTab === item"
    *ngFor="let item of tabItems$ | async"
  >
    <ng-container *ngIf="item.labelComponent">
      <ng-container *ngTemplateOutlet="item.labelComponent.labelContent"> </ng-container>
    </ng-container>

    <ng-container *ngIf="!item.labelComponent">
      {{ item.label }}
    </ng-container>
  </section>
</div>

<div>
  <ng-container *ngIf="this.activeTab && this.activeTab.bodyComponent">
    <ng-container *ngTemplateOutlet="activeTab.bodyComponent.bodyContent"> </ng-container>
  </ng-container>
</div>
