.tabs-header {
  @apply flex my-4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.active {
  border-bottom: 2px solid rgb(146, 162, 189);
  cursor: auto !important;
}

.tab-label {
  position: relative;
  padding: 0 2%;
  margin: 1% 0 0 0;
  @apply font-condensedRegular relative;
  cursor: pointer;
}
