<button
  (click)="clickEvent.emit($event)"
  [ngClass]="{
    'icon-left': this.icon,
    'btn-primary': this.button === 'primary',
    'btn-secondary': this.button === 'secondary',
    'btn-tertiary': this.button === 'tertiary',
    'btn-primary-disabled': this.disable && this.button === 'primary',
    'btn-secondary-disabled': this.disable && this.button === 'secondary'
  }"
  type="{{ this.type }}"
  [disabled]="this.disable"
>
  <ng-container *ngIf="this.icon">
    <svg-icon
      key="{{ this.icon }}"
      class="svg-icon"
      [ngClass]="{
        'text-white': this.button === 'primary' || this.disable,
        'text-tundora': this.button === 'secondary',
        'text-blueBayouxShadeWaikawaGray': this.button === 'tertiary'
      }"
    ></svg-icon>
  </ng-container>
  <div
    class="component-headline uppercase px-2"
    [ngClass]="{
      'text-white': this.button === 'primary' || this.disable,
      'text-tundora': this.button === 'secondary',
      'text-blueBayouxShadeWaikawaGray': this.button === 'tertiary'
    }"
  >
    <ng-content></ng-content>
  </div>
</button>
