.scrollable-container {
  @apply max-w-screen-4xl my-0 mx-auto overflow-y-auto overflow-x-hidden h-screen block;
}

.layout {
  @apply flex flex-col bg-dustyGrayShadeWildSand min-h-screen;
  min-width: 300px;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 9999;
}

.spinner-wrapper.active {
  display: block;
}

.spinner-overlay {
  position: absolute;
  z-index: 1020;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
