<div *ngIf="this.notifications.length > 0" class="flex flex-col flex-wrap h-full">
  <ng-container *ngFor="let notification of this.notifications.reverse()">
    <div [@notify]="'show'">
      <div
        [ngClass]="{
          'slide-left': notification.isSliderON,
          'slide-right': !notification.isSliderON
        }"
      >
        <app-notification-message
          [notifierMessage]="notification"
          (removeNotification)="this.remove($event)"
        ></app-notification-message>
      </div>
    </div>
  </ng-container>
</div>
