<div class="imprint-container-wrapper">
  <mat-card class="imprint-container">
    <mat-card-header>
      <mat-card-title class="imprint-title">
        {{ 'pageImprint.title' | i18n }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="imprint-content">
      <div>
        {{ 'pageImprint.address.content' | i18n}}
      </div>
      <div class="imprint-header">
        {{ 'pageImprint.managingDirectors.title' | i18n}}
      </div>
      <div>
        {{ 'pageImprint.managingDirectors.content' | i18n}}
      </div>
      <div class="imprint-header">
        {{ 'pageImprint.contentResponsibility.title' | i18n}}
      </div>
      <div class="pb-3">
        {{ 'pageImprint.contentResponsibility.content' | i18n}}
      </div>

      <div class="imprint-divider"></div>

      <div class="imprint-note-title">
        {{ 'pageImprint.note.title' | i18n}} </div>

      <div class="imprint-note-text imprint-note-content1">
        {{ 'pageImprint.note.content1' | i18n}} <a class="imprint-link"
          href="http://ec.europa.eu/consumers/odr"
          target="_blank">http://ec.europa.eu/consumers/odr</a>.</div>

      <div class="imprint-note-text">
        {{ 'pageImprint.note.content2' | i18n}} <a class="imprint-link"
          href="mailto:info@cofinity-x.com"
          target="_blank">info@cofinity-x.com</a>.</div>

    </mat-card-content>
  </mat-card>
</div>