$blue: #5b708f;
.form-steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.step-bubble {
  padding: 12px;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  color: #fff;
}

.step-divider {
  height: 2px;
  background: #e6e6e6;
  flex: 1;
  margin: 0px 10px;
}

.step-current,
.step-active {
  background: #5b708f;
  border: 3px solid #5b708f;
}

.step-inactive {
  cursor: not-allowed;
  pointer-events: none;
  background: #c2c2c2;
  border: 3px solid #c2c2c2;
}

.step-complete {
  background: #3db014;
  border: 3px solid #3db014;
}
