.dialog--content {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.dialog--header--container {
  display: flex;
  padding-bottom: 12px;
}

.dialog--header--text {
  font-weight: 500;
  line-height: 1.6;
  flex: 1;
  font-family: LibreFranklin-SemiBold, -apple-system,
  BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue",
  Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  text-align: center;
  margin-left: 32px;
}

.mat-icon {
  width: 32px;
  height: 32px;
  font-size: 30px;
  margin-top: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog--content--container {
  display: flex;
  font-size: 20px;
  line-height: 1.6;
  max-height: 272px;
}

.dialog--actions--container {
  background-color: rgb(237, 240, 244);
  width: 100%;
  display: flex;
  justify-content: center;

  .dialog--actions--save--button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: LibreFranklin, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    background-color: rgb(15, 113, 203);
    border-radius: 50px;
    font-size: 18px;
    padding: 14px 32px;
    box-shadow: rgba(15, 113, 203, 0.4) 0px 0px 0px 3px;
  }

  .dialog--actions--save--button:hover, .dialog--actions--save--button:active, .dialog--actions--save--button:focus {
    background-color: rgb(13, 85, 175)
  }
}
