<button
  (click)="onClick()"
  [ngClass]="{
    'button__container--root': this.isRoot(),
    'button__container--leaf': !this.isRoot(),
    'btn-primary': this.button === 'primary',
    'btn-secondary': this.button === 'secondary',
    'btn-primary-disabled': this.disable && this.button === 'primary',
    'btn-secondary-disabled': this.disable && this.button === 'secondary'
  }"
  class="button__container"
>
  <div
    class="w-full relative"
    [ngClass]="{
      'icon-right': !this.isRoot()
    }"
  >
    <ng-content></ng-content>
    <ng-container *ngIf="!this.isRoot()">
      <svg-icon
        class="arrow-icon"
        key="{{ this.getExpandedIcon() }}"
        size="sm"
        [ngClass]="{
          'text-white': this.button === 'primary',
          'text-tundora': this.button === 'secondary'
        }"
      ></svg-icon>
    </ng-container>
  </div>
</button>

<ng-container #viewContainerRef></ng-container>
