.card-container {
  @apply flex flex-row gap-x-5 items-center;
}

.avatar-container {
  @apply flex flex-col items-center justify-center;
}

.avatar {
  border-radius: 50%;
  text-align: center;
  @apply bg-primary;

  &__label {
    @apply flex flex-col items-center justify-center p-2;
  }
}

.label-container {
  @apply flex flex-col gap-y-1;
}

p:empty {
  animation: loading 1.7s infinite linear;
  background: #dedfe1 linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%) no-repeat;
  width: 100px;
  height: 10px;
}
