# Copyright (c) 2021,2022,2023
#       2022: ZF Friedrichshafen AG
#       2022: ISTOS GmbH
#       2022,2023: Bayerische Motoren Werke Aktiengesellschaft (BMW AG)
#       2022,2023: BOSCH AG
# Copyright (c) 2021,2022,2023 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0. *
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
#
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "discovery.fullname" . }}
  labels:
    {{- include "discovery.labels" . | nindent 4 }}
data:
  discovery_finder_request.json: |-
    {
      "request": {
        "method": "POST",
        "urlPath": "/api/administration/connectors/discovery/search"
      },
      "response": {
        "status": 200,
        "bodyFileName": "discovery_finder_response.json",
        "headers": {
          "Content-Type": "application/json"
        }
      }
    }

  discovery_finder_response.json: |-
    {
      "endpoints": [
        {
          "type": "bpn",
          "description": "Service to discover EDC to a particular BPN",
          "endpointAddress": "https://{{ .Values.test.self }}/api/administration/connectors/discovery",
          "documentation": "http://.../swagger/index.html",
          "resourceId": "316417cd-0fb5-4daf-8dfa-8f68125923f1"
        }
      ]
    }

  edc_discovery_request_registry_flow.json: |-
    {
      "request": {
        "bodyFileName": "edc_discovery_request_body_registry_flow.json",
        "method": "POST",
        "urlPath": "/api/administration/connectors/discovery"
      },
      "response": {
        "status": 200,
        "bodyFileName": "edc_discovery_response_registry_flow.json",
        "headers": {
          "Content-Type": "application/json"
        },
        "transformers": ["response-template"]
      }
    }

  edc_discovery_request_body_registry_flow.json: |-

    {
      "test": "test"
    }


  edc_discovery_response_registry_flow.json: |-
    [
      {
        "bpn": "{{ printf "{{jsonPath request.body '$.[0]'}}" }}",
        "connectorEndpoint": [
          "{{ .Values.wiremock.provider }}"
        ]
      }
    ]

  edc_discovery_request_notification_flow.json: |-
    {
      "request": {
        "body": "{\"test\": \"test2\"}",
        "method": "POST",
        "urlPath": "/api/administration/connectors/discovery"
      },
      "response": {
        "status": 200,
        "bodyFileName": "edc_discovery_response_notification_flow",
        "headers": {
        "Content-Type": "application/json"
        },
        "transformers": ["response-template"]
      }
    }

  edc_discovery_request_body_notification_flow.json: |-
    {
    "test": "test2"
    }

  edc_discovery_response_notification_flow.json: |-
    [
      {
      "bpn": "{{ printf "{{jsonPath request.body '$.[0]'}}" }}",
      "connectorEndpoint": [
        "{{ .Values.wiremock.consumer }}"
      ]
      }
    ]
