.header {
  @apply flex flex-row justify-between p-2 mb-0;
}

.confirm-dialog {
  @apply p-2 m-2;
}

.button-grid {
  @apply grid grid-cols-6 gap-2;
}

.success {
  @apply border-success;
}

.error {
  @apply border-error;
}

.warning {
  @apply border-warning;
}

.info {
  @apply border-info;
}

textarea {
  @apply font-condensedRegular;
  width: 100%;
  height: 229px;
  border: solid 1px #92a2bd;
  border-radius: 3px;
  color: #666666;
  background-color: rgba(146, 162, 189, 0.1);
  resize: none;
  margin-bottom: 2%;
  @apply p-2;
}
