.notification {
  @apply flex flex-row justify-between bg-white mb-2 w-72 h-14 z-120 border-solid border-l-8;
}

.status-bar-success {
  height: 100%;
  @apply border-success;
}

.status-bar-warning {
  height: 100%;
  @apply border-warning;
}

.status-bar-error {
  height: 100%;
  @apply border-error;
}

.status-bar-informative {
  height: 100%;
  @apply border-info;
}

.btn-close {
  border: 0;
  @apply bg-tundoraShadeGray border-0;
}
