/* ---------------------------------------------------------- */
/* Table styles */
/* ---------------------------------------------------------- */

.mat-table {
  @apply w-full overflow-y-auto;
  background-color: #efefef;
}

.mat-row {
  @apply bg-white;

  .mat-cell {
    span {
      @apply font-condensedRegular lg:text-xs sm:text-xs text-tundora;
    }
  }
}

.mat-toolbar {
  @apply flex relative h-12;
  span {
    @apply font-condensedRegular lg:text-xs sm:text-xs text-tundora p-0.5;
  }
}

.mat-header-row {
  @apply bg-white h-12;

  .mat-header-cell {
    @apply font-boldCondensed lg:text-xs sm:text-tiny text-tundora;
  }
}

.select {
  flex: 0.3;
}

.expand {
  @apply flex justify-end cursor-pointer border-0;
  flex: 0.3;
}

.detail-table-container {
  margin: 2vw;
}

.download {
  cursor: pointer;
}

.element-row {
  border-bottom-width: 1px;
}

.element-row-expanded {
  @apply border-b-2 border-primary;
}

.chip {
  @apply border-2 border-blueBayouxShadePigeonPost rounded-xl m-1.5 px-1.5 py-0.5;
}

a:hover {
  text-decoration: underline;
}

.icon-menu {
  position: absolute;
  top: -1px;
  z-index: 1;
  // This should be the size of the anchor tag, how???
  margin-left: 90px;
}

.icon-menu__container {
  @apply shadow-lg border-t-2 border-primary;
  width: 120px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
}

.icon-menu__container:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 10px;
  width: 0;
  height: 0;
  box-sizing: border-box;
  margin-left: -0.5em;
  bottom: -2em;
  left: 5%;
  border: 0.7em solid white;
  border-color: transparent transparent #fff #fff;

  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.2);

  transform-origin: 0 0;
  transform: rotate(45deg);
}

.icon-menu__content {
  @apply flex flex-row items-center p-2 overflow-y-auto;
}

.tag {
  /* Center the content */
  align-items: center;
  display: inline-flex;
  justify-content: center;
  /* Background color */
  background-color: #fff5cc;
  border: 1px solid #ffad1f;

  /* Rounded border */
  border-radius: 9999px;

  /* Spacing */
  padding: 4px 8px;

  &__content {
    margin-right: 4px;
  }
}

.selected-row {
  background-color: #e9ebf1 !important;
}

.pointer-row {
  @apply cursor-pointer;
}

.white-background {
  background-color: #fff;
}

.pointer {
  cursor: pointer;
}

.default {
  cursor: default;
}

.icon-active {
  cursor: pointer;
}

.icon-inactive {
  cursor: default;
  opacity: 0.6;
}

.capitalize {
  text-transform: capitalize;
}

.arrow-disable {
  color: #000;
  opacity: 0.3;
  cursor: not-allowed;
}

.missing-link {
  color: #666666;
  font-style: italic;
}

.long-and-truncated {
  width: 50%;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
