@tailwind base;

.part-relation-full-screen {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.part-relation-full-screen-title {
  display: flex;
  justify-content: space-between;
  @apply text-secondaryButton;
}
