.file-input {
  background-color: #ececec;
  border-radius: 5px;
  width: 300px;
  padding: 8px;
}

.hinttext {
  color: #878787;
}

.details-container {
  width: 50%;
}

.constraints--header--label {
  font-size: 14px;
  font-weight: 600;
}

.constraints--header--sub-label {
  font-size: 12px;
  font-weight: normal;
  color: #777777;

  &--logicType {
    font-size: 12px;
    font-weight: normal;
    color: #777777;
    width: 200px;
    @media(max-width: 1137px) {
      height: 54px;
    }
  }
}

.constraints--header--container {
  width: calc(100% - 192px);
}

.label-row-view-mode {
  width: 100%;
}

.sub-label {
  font-size: 12px;
  font-weight: normal;
  color: #777777;
}
