.section-details {
  padding-right: 20px;
}

.section-status-content {
  height: 308px;
  overflow-y: auto;
  padding-right: 5px;
}

.detail--wrapper {
  width: 995px;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 40% 60%;

  @media (max-width: 1024px) {
    grid-template-columns: 100%;
  }
}
