/**
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*   http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/

.sidebar-menu-container__item {
  @apply flex p-4 cursor-pointer hover:bg-primaryLight items-center relative;

  &__badge {
    @apply bg-dangerLight inline-block absolute text-center p-1 w-6 h-6;
    border-radius: 50%;
    top: 5px;
    left: 27px;
  }
}

.active {
  @apply text-white bg-primary hover:bg-primaryDark;
}

.item {
  margin-right: 0.5rem;
}

.item-active {
  @apply text-white;
}

.disable {
  display: none;
}
