.sidebar-menu-container__item {
  @apply flex p-4 cursor-pointer hover:bg-primaryLight items-center relative;

  &__badge {
    @apply bg-dangerLight inline-block absolute text-center p-1 w-6 h-6;
    border-radius: 50%;
    top: 5px;
    left: 27px;
  }
}

.active {
  @apply text-white bg-primary hover:bg-primaryDark;
}

.item-active {
  @apply text-white;
}

.disable {
  display: none;
}
