<mat-card>
  <mat-card-header class="flex-row">
    <mat-card-title><h3>{{"pageAdmin.contracts.contracts" | i18n}}</h3></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="flex flex-row justify-end mb-2">
      <div class="detail--action--button"
           matTooltip="{{'pageAdmin.contracts.selectAtleastOne' | i18n}}"
           matTooltipClass="table--header--tooltip"
           matTooltipPosition="above"
           [class.mdc-tooltip--multiline]="true"
           [matTooltipShowDelay]="1000"
           [matTooltipDisabled]="selectedContracts?.length > 0"
      >
      <app-button variant="raised"
                  color="primary"
                  iconName="ios_share"
                  (click)="exportContractsAsCSV()"
                  [isDisabled]="!selectedContracts?.length"
      >{{'pageAdmin.contracts.exportAsCSV' | i18n}}</app-button>
      </div>
    </div>
      <app-table
        [paginationData]="contracts | async"
        [tableConfig]="tableConfig"
        [additionalTableHeader]="true"
        [noShadow]="true"
        [showHover]="false"
        [labelId]="'test'"
        [autocompleteEnabled]="true"
        (configChanged)="onTableConfigChange($event)"
        (filterActivated)="filterActivated($event)"
        (multiSelect)="multiSelection($event)"
        [tableType]="TableType.CONTRACTS"

      >
      </app-table>
  </mat-card-content>

</mat-card>
