.footer {
  @apply p-3 bg-footer fixed bottom-0;
  z-index: 940;

  width: calc(100% - 56px);

  &__content {
    @apply flex justify-between items-center;
  }
}

.expanded {
  width: calc(100% - 240px);
}

.icon {
  margin: 0 0.2rem -0.188rem 0;
}
