
<mat-card>
  <mat-card-header>
    <mat-card-title
    ><h3>{{ 'pageAdmin.importJson.title' | i18n }}</h3></mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <div class="file-container" *ngIf="!file || isNotJsonFile() || showError">
      <mat-icon>upload</mat-icon>
      <input type="file" (change)="getFile($event)" class="file" />
      <h4>Drag and drop</h4>
      <p class="or">Or</p>
      <div class="text-box">
        <p class="text-box-p">Browse files</p>
      </div>
      <p class="error-message" *ngIf="isNotJsonFile() && showError">Error: Please select a JSON file.</p>
    </div>

    <div class="file-container" *ngIf="file && isJsonFile()">
      <mat-icon>upload_file</mat-icon>
      <p class="file-name">{{file.name}}</p>
      <app-button variant="raised" class="custom-button_clear" color="warn" (click)="file = undefined; showError = false;"> clear file</app-button>
      <app-button variant="raised" class="custom-button_upload" color="primary" (click)="uploadFile()"> upload file</app-button>
    </div>
  </mat-card-content>
</mat-card>
