
$theme:       #454cad;
$dark-text:   #5f6982;

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  text-align: center;
  color: black;
  margin-bottom: 0;
}

p{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.file-container {
  width: 300px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 2px #979797;
  position: relative;
  margin-left : 10px;
  margin-top: 15px;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .file{
    opacity: 0;
    padding: 5rem;
    width: auto;
    text-align: center;
    height: 5rem;
  }

  h4 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: $dark-text;
  }
  .or{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: dimgrey;
    position: relative;
  }

  .or::before,
  .or::after {
    content: "";
    display: inline-block;
    width: 25%;
    height: 0.7px;
    background-color: lightgray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .or::before {
    left: +19%;
  }

  .or::after {
    right: +19%;
  }

  .text-box{
    width: 110px;
    padding: 8px;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    border: 1px solid $theme;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 5px;

    .text-box-p {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: $theme;
      border-radius: 15px;
    }



  }
  .error-message {
    font-family: "Roboto", sans-serif;
    color: red;
    margin-top: 5px;
  }

  .custom-button_clear{
    margin-right: 5px;
    margin-top: 10px;
  }

  .custom-button_upload {
    margin-left: 5px;
    margin-top: 10px;
  }

}
