/**
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*   http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/

.sizer-wrap {
  transform: translateZ(0);
  width: 24px;
  z-index: 3;
  position: fixed;
  height: 100%;
}

.sizer {
  cursor: ew-resize;
  height: 100%;
  left: -4px;
  position: absolute;
  width: 24px;
}

.sizer-strip {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.1) 1px,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  left: -3px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 3px;
}

.line {
  @apply bg-primary;
  opacity: 0;
  height: 100%;
  left: 3px;
  position: absolute;
  width: 2px;
  transition: opacity 200ms ease 0s;
}

.sizer-wrap:hover {
  .sizer .line {
    opacity: 1;
  }
  .btn .icon {
    @apply text-primary;
  }
}

.btn {
  transition: background-color 100ms linear 0s, color 100ms linear 0s;
  box-shadow: rgba(9, 30, 66, 0.08) 0 0 0 1px, rgba(9, 30, 66, 0.08) 0 2px 4px 1px;
  position: absolute;

  transform: translate(-50%);
  cursor: pointer;
  height: 24px;
  width: 24px;
  top: 32px;
  background: white;
  border-radius: 50%;
  &:hover {
    @apply bg-primary;
    .resize-icon {
      color: white !important;
    }
  }
}

.overlay {
  position: absolute;
  left: -8px;
  right: -12px;
  bottom: -8px;
  top: -8px;
}

.resize-icon {
  @apply text-primary;
}
