<div class="form-steps-container">
  <ng-container *ngFor="let step of this.steps$ | async; let i = index">
    <div class="flex flex-row">
      <div
        *ngIf="!step.isComplete; else complete"
        [ngClass]="{
          'step-current': (currentStep$ | async)?.stepIndex === step.stepIndex,
          'step-complete': step.isComplete,
          'step-active': step.isActive,
          'step-inactive': !step.isActive
        }"
        class="step-bubble mt-1"
      >
        {{ step.stepIndex }}
      </div>
      <ng-template #complete>
        <svg-icon class="mt-0.5" key="checkbox-circle-fill" color="#3db014" size="md"></svg-icon>
      </ng-template>
      <div class="flex flex-col ml-2" [ngClass]="{ 'mt-2': !step.isOptional }">
        <p class="regular-text">{{ step.label }}</p>
        <p *ngIf="step.isOptional" class="small-text text-dustyGray">(optional)</p>
      </div>
    </div>
    <div *ngIf="i < (steps$ | async)?.length - 1" class="step-divider"></div>
  </ng-container>
</div>
