.policy--content--container {
  background-color: #fafafa;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 25px;
  height: 70vh;

  .cards-container-info-card {
    grid-column: span 1;
    grid-row: span 1;
    max-width: 100%;
  }

  .cards-container-json-card  {
    grid-column: span 1;
    grid-row: span 1;
    max-width: 100%;
    overflow: auto;
  }

}

@media(max-width: 1023px) {
  .cards-container {
    grid-template-columns: repeat(1,1fr);
  }
}

.json-text {
  font-family: "Catena-X Light", "Arial Narrow", Arial, sans-serif;
}





