<aside [style.width.px]="sidebarWidth" class="sidebar">
  <div class="sidebar-content">
    <div
      [style.width.px]="sidebarWidth"
      class="scrollable"
      [ngClass]="{
        'padding-right': this.sidebarWidth === 240
      }"
    >
      <ul class="sidebar-menu-container">
        <li>
          <app-sidebar-section
            (click)="this.navigate('dashboard')"
            [name]="'dashboard'"
            [isActive]="this.activeMenu === 'dashboard'"
            [isExpanded]="this.expanded"
            [iconName]="'layout-masonry-line'"
          ></app-sidebar-section>
        </li>
      </ul>
    </div>
    <div class="flex-auto"></div>
    <div
      [style.width.px]="sidebarWidth"
      class="scrollable"
      [ngClass]="{
        'padding-right': this.sidebarWidth === 240
      }"
    >
      <ul class="sidebar-menu-container">
        <li>
          <app-sidebar-section
            (click)="this.navigate('about')"
            [name]="'about'"
            [isActive]="this.activeMenu === 'about'"
            [isExpanded]="this.expanded"
            [iconName]="'information-line'"
          ></app-sidebar-section>
        </li>
      </ul>
    </div>
  </div>
</aside>
