li {
  width: 100%;
  height: 56px;
  @apply mb-2;
}

li:empty {
  animation: loading 1.7s infinite linear;
  background: #dedfe1 linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%) no-repeat;
}
