@import '../../../../../theme/base.scss';
@tailwind base;

.menu-button {
  padding: 10px;
  display: flex;
}

.menu-text {
  @extend .body-medium;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.2px;
  padding-left: 10px;
}

.menu-header {
  @extend .title-medium;
  color: #333333;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 0 10px 10px 10px;
}

.icon-spacer {
  margin-left: 4px;
}

.divider {
  color: #d2d2d2;
  margin-left: 10px;
  margin-right: 10px;
}
