<h2 class="header">{{'actions.publishAssets' | i18n}}</h2>
<div class="container">
  <div class="list-container">
    <h4>{{'publisher.selectedAssets' | i18n}}:</h4>
    <mat-list>
      @for (asset of selectedAssets; track asset) {
        <mat-list-item>
          <span matListItemTitle>{{asset?.nameAtManufacturer}}</span>
          <span matListItemLine>{{asset?.id}}</span>
        </mat-list-item>
      }
    </mat-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="action-container">
    <h4 class="policies-label">{{'publisher.policyToApply' | i18n}}:</h4>
    <mat-form-field appearance="fill">
      <mat-label>{{'publisher.selectPolicyLabel' | i18n}}</mat-label>
      <mat-select [formControl]="policyFormControl" required>
        @for (policy of policiesList; track policy) {
          <mat-option [value]="policy?.policyId">
            {{policy?.policyId}}
          </mat-option>
        }
      </mat-select>
      @if (policyFormControl.invalid) {
        <mat-error>{{'publisher.selectPolicyError' | i18n}}</mat-error>
      }
    </mat-form-field>

    <div class="publish-action-container" [style.cursor]="checkForIllegalAssetStateToPublish() ? 'not-allowed' : 'default'">
      <div class="detail--action--button"
        matTooltip="{{'routing.illegalAssetStateToPublish' | i18n}}"
        matTooltipClass="table--header--tooltip"
        matTooltipPosition="above"
        [class.mdc-tooltip--multiline]="true"
        [matTooltipShowDelay]="1000"
        [matTooltipDisabled]="!checkForIllegalAssetStateToPublish()"
        >
        <app-button variant="raised"
          class="custom-button_import"
          color="primary"
          [isDisabled]="policyFormControl.invalid || checkForIllegalAssetStateToPublish()"
          onkeydown="publish()"
          (click)="publish()">
          {{'publisher.publish' | i18n}}
        </app-button>
      </div>
    </div>
  </div>
</div>




