.layout-container {
  @apply min-h-screen pt-16 flex flex-row justify-start;
  flex: 1;
}

.layout-sidebar {
  @apply bg-white flex;
}

.layout-resizer {
  @apply sm:hidden lg:flex relative;
}

.layout-content {
  @apply flex flex-1 flex-col min-w-0 relative;
  will-change: padding-left;
  transition: padding-left 300ms cubic-bezier(0.2, 0, 0, 1) 0s;

  &__box-modal {
    @apply pt-6 px-8 pb-12 min-w-0;
    order: 1;
    flex: 1 0;
  }
}

.layout-notification-component {
  position: fixed;
  top: 8%;
  right: 0;
  z-index: 120;
}
