@import '../../../../../../theme/base.scss';
@tailwind base;

.container {
  max-width: 850px;
  max-height: 800px;
  overflow-y: auto;
  margin-right: 0.5px;
  padding: 10px;
  @media (max-height: 800px) {
    max-height: 500px;
    overflow-y: auto;
  }
}

.header {
  @extend .headline-medium;
  font-size: 32px;
  font-weight: 600;
  line-height: 35.2px;
  color: #333333;

  display: flex;
  justify-content: space-between;
}

.investigation-parts-table {
  height: 420px;
  overflow-y: auto;
}

.investigation-wrapper {
  height: 720px;
}
