<mat-card>
  <mat-card-header class="flex-row">
    <mat-card-title><h3 data-testid="admin_contracts_view_header">{{"pageAdmin.contracts.contracts" | i18n}}</h3></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="flex flex-row justify-end mb-2">
      <div class="detail--action--button"
           matTooltip="{{'pageAdmin.contracts.selectAtleastOne' | i18n}}"
           matTooltipClass="table--header--tooltip"
           matTooltipPosition="above"
           [class.mdc-tooltip--multiline]="true"
           [matTooltipShowDelay]="1000"
           [matTooltipDisabled]="selectedContracts?.length > 0"
      >
      <app-button variant="raised"
                  color="primary"
                  iconName="ios_share"
                  onkeydown="exportContractsAsCSV()"
                  (click)="exportContractsAsCSV()"
                  [isDisabled]="!selectedContracts?.length"
                  [attr.data-testid]="'export-contracts-button'"
      >{{'pageAdmin.contracts.exportAsCSV' | i18n}}</app-button>
      </div>
    </div>

    <ng-container *viewContainer="contractsView$ | async; main: mainTmp; error: errorTmp; loading: loaderTmp"></ng-container>
    <ng-template #mainTmp let-contracts="view">
      <app-table
        [paginationData]="contracts.data"
        [tableConfig]="tableConfig"
        [additionalTableHeader]="true"
        [noShadow]="true"
        [showHover]="false"
        [labelId]="'contracts'"
        [autocompleteEnabled]="false"
        (configChanged)="onTableConfigChange($event)"
        (filterActivated)="filterActivated($event)"
        (multiSelect)="multiSelection($event)"
        [tableType]="TableType.CONTRACTS"
        (selected)="openDetailedView($event)"
      >
      </app-table>
    </ng-template>

    <ng-template #errorTmp let-contracts="view">
      <app-data-loading-error [error]="contracts.error"></app-data-loading-error>
    </ng-template>

    <ng-template #loaderTmp>
      <mat-spinner></mat-spinner>
    </ng-template>

  </mat-card-content>

</mat-card>
