.button__container {
  @apply flex justify-center px-1 py-1.5 cursor-pointer focus:outline-none w-full min-w-full;
}

.button__container--root {
  display: inline-block;
  @apply bg-white border-dustyGrayShadeAlto hover:bg-dustyGrayShadeGallery text-left p-1.5 w-full lg:text-sm sm:text-xs text-tundora font-condensedRegular;
  border: solid 1px #d9d9d9;
}

.button__container--leaf {
  margin-left: 1px;
  display: block;
  @apply bg-white border-dustyGrayShadeAlto border-2 hover:bg-dustyGrayShadeGallery uppercase font-boldCondensed lg:text-sm sm:text-xs;
}

.btn-primary {
  @apply bg-blueBayouxShadeLynch border-blueBayouxShadeLynch hover:bg-blueBayouxShadeWaikawaGray text-white;
}

.btn-secondary {
  @apply bg-white border-dustyGrayShadeAlto hover:bg-dustyGrayShadeGallery text-tundora;
}

.btn-primary-disabled {
  @apply bg-blueBayouxShadePigeonPost border-blueBayouxShadePigeonPost hover:bg-blueBayouxShadePigeonPost cursor-not-allowed !important;
}

.btn-secondary-disabled {
  @apply bg-white border-dustyGrayShadeAlto text-tundora opacity-70 cursor-not-allowed !important;
}

.arrow-icon {
  position: absolute;
  pointer-events: none;
  margin-left: 0.2rem;
  bottom: -0.1rem;
}

.icon-right {
  padding-right: calc(1rem + calc(calc(1rem / 2) - 1px) + calc(1rem / 4));
}
