button.selected {
  color: rgb(13, 85, 175) !important;
  background-color: rgb(212, 227, 254) !important;
}

button:hover {
  background-color: rgb(212, 227, 254) !important;
}

button {
  color: rgb(15, 113, 203);
  text-transform: uppercase;
  border-radius: 50px !important;
  padding: 10px 18px !important;
  background-color: rgb(234, 241, 254) !important;
  margin-right: 16px;
}
