<div *ngIf="dataSource">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="select">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="select">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? this.toggleCheckbox(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <span>
      <ng-container [matColumnDef]="column.fieldName" *ngFor="let column of dataColumns">
        <mat-header-cell
          class="text-start"
          *matHeaderCellDef
          mat-sort-header
          [disabled]="!column.sortable"
          [ngStyle]="getStyle(column)"
          >{{ column.label }}
        </mat-header-cell>

        <mat-cell
          class="text-start"
          *matCellDef="let row; let i = index"
          [ngStyle]="getStyle(column)"
          [ngClass]="getClass(column)"
          (click)="onRowClick(row, column)"
        >
          <span [ngSwitch]="column.type">
            <span *ngSwitchCase="'NUMBER'">
              <div *ngIf="row[column.fieldName] === 0; else notZero">-</div>
              <ng-template #notZero>
                {{ row[column.fieldName] }}
              </ng-template>
            </span>

            <span *ngSwitchCase="'DATE'">
              <ng-container *ngIf="row[column.fieldName]; else notChecked">
                {{ row[column.fieldName] | appAssetDate }}
              </ng-container>
            </span>

            <span *ngSwitchCase="'LINK'">
              <ng-container *ngIf="row[column.fieldName] !== 'Missing part'; else missing">
                <a (click)="this.emitLinkClick(row); $event.stopPropagation()"> {{ row[column.fieldName] }}</a>
              </ng-container>
              <ng-template #missing>
                <p class="missing-link">{{ row[column.fieldName] }}</p>
              </ng-template>
            </span>

            <span *ngSwitchCase="'ICON_STRING'">
              <div class="flex flex-row" *ngIf="row[column.fieldName]">
                <app-avatar
                  [name]="row[column.fieldName].name"
                  [size]="'2rem'"
                  [color]="row[column.fieldName].color"
                  [initialsTopSize]="'0.5rem'"
                ></app-avatar>
                <p class="p-2">{{ row[column.fieldName].name }}</p>
              </div>
            </span>

            <span *ngSwitchCase="'BOOLEAN_STRING'">
              <div class="flex flex-row gap-4">
                <ng-container *ngIf="row.isAffected === 'true'">
                  <svg-icon key="flag-fill" size="xs" color="#ffad1f"></svg-icon>
                </ng-container>
                <p>{{ row[column.fieldName] }}</p>
              </div>
            </span>

            <span *ngSwitchCase="'STATUS_STRING'">
              <div class="flex flex-row gap-x-2 items-center" *ngIf="row[column.fieldName]?.status; else notChecked">
                <svg-icon
                  [ngClass]="{
                    'text-success': row[column.fieldName].icon === 'checkbox-circle-line',
                    'text-error': row[column.fieldName].icon === 'spam-line',
                    'text-warning': row[column.fieldName].icon === 'error-warning-line',
                    'text-alert': row[column.fieldName].icon === 'alert-line',
                    'text-danger': row[column.fieldName].icon === 'close-circle-line'
                  }"
                  size="xs"
                  key="{{ row[column.fieldName].icon }}"
                ></svg-icon>
                <p>{{ row[column.fieldName].status }}</p>
              </div>
            </span>

            <span *ngSwitchCase="'COPY_STRING'">
              <section class="flex flex-row items-center">
                <p class="long-and-truncated">{{ row[column.fieldName] }}</p>
                <svg-icon
                  class="ml-2 text-tundora cursor-pointer"
                  key="file-copy-line"
                  size="xs"
                  (click)="this.copyToClipboard(row[column.fieldName]); $event.stopPropagation()"
                >
                </svg-icon>
              </section>
            </span>

            <span *ngSwitchCase="'TAG'">
              <div class="tag">
                <div class="tag__content"></div>
              </div>
            </span>

            <span *ngSwitchCase="'BOOLEAN'">
              <ng-container *ngIf="row[column.fieldName]; else notChecked">
                <svg-icon key="check-fill" size="xs" class="text-primary cursor-pointer"></svg-icon>
              </ng-container>
            </span>

            <span *ngSwitchCase="'ARRAY'">
              <div class="flex flex-row" *ngIf="row[column.fieldName]">
                <div
                  class="p-0.5 flex justify-end"
                  *ngFor="let element of row[column.fieldName].slice(0, this.iconArrayLimit)"
                >
                  <app-avatar
                    class="cursor-pointer"
                    appTooltip
                    [tooltip]="element.name"
                    [name]="element.name"
                    [size]="'2rem'"
                    [initialsTopSize]="'0.5rem'"
                    [color]="element.color"
                  ></app-avatar>
                </div>
                <div class="p-2" *ngIf="row[column.fieldName].length > this.iconArrayLimit">
                  <a aria-haspopup="true" class="small-text relative" (click)="this.expand($event, row, i)"
                    >+{{ row[column.fieldName].length - this.iconArrayLimit }} participant<ng-container
                      *ngIf="row[column.fieldName].length - this.iconArrayLimit > 1"
                      >s</ng-container
                    ></a
                  >
                  <div
                    class="icon-menu"
                    *ngIf="row.isTriggered && this.rowIsTriggerState.getValue() === i"
                    (clickOutside)="row.isTriggered = false"
                    role="menu"
                    aria-orientation="vertical"
                    aria-labelledby="icon-menu"
                  >
                    <div class="icon-menu__container">
                      <section
                        class="icon-menu__content"
                        *ngFor="let selected of row.mspIds.slice(this.iconArrayLimit, row.mspIds.length)"
                      >
                        <app-avatar
                          [name]="selected.name"
                          [size]="'2rem'"
                          [color]="selected.color"
                          [initialsTopSize]="'0.5rem'"
                        ></app-avatar>
                        <p class="small-text p-1">{{ selected.name }}</p>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </span>

            <span *ngSwitchCase="'TABLE'">
              <div class="flex flex-row gap-x-2 items-center cursor-default">
                <ng-container *ngIf="row[column.childFieldName].length; else NoChildComponents">
                  <svg-icon
                    key="{{ this.getIcon(row) }}"
                    size="sm"
                    class="cursor-pointer text-tundora"
                    matTooltip="View child parts"
                    (click)="onDetailGrid(row, column.childFieldName); $event.stopPropagation()"
                  >
                  </svg-icon>
                </ng-container>
                <ng-template #NoChildComponents>
                  <svg-icon key="{{ this.getIcon(row) }}" size="sm" class="arrow-disable" matTooltip="No child parts">
                  </svg-icon>
                </ng-template>
                <p>{{ row[column.fieldName] }}</p>
              </div>
            </span>

            <span *ngSwitchCase="'ACTION'">
              <div
                class="flex flex-row"
                *ngIf="row[column.fieldName]"
                [ngStyle]="this.singleActionIcons(row[column.fieldName])"
              >
                <div class="mr-2" *ngFor="let action of row[column.fieldName]">
                  <svg-icon
                    appTooltip
                    [tooltip]="!action.disable ? action.label : 'No parts available'"
                    [ngClass]="{
                      'icon-active': !action.disable,
                      'icon-inactive': action.disable
                    }"
                    key="{{ action.icon }}"
                    size="xs"
                    (click)="this.emitActions(row, action.role, action.disable)"
                  >
                  </svg-icon>
                </div>
              </div>
            </span>

            <span
              *ngSwitchDefault
              [ngClass]="{
                capitalize: column.capitalize
              }"
            >
              <ng-container *ngIf="row[column.fieldName]; else emptyField">
                <p
                  [ngClass]="{
                    'long-and-truncated': row[column.fieldName] && row[column.fieldName].length > 20
                  }"
                >
                  {{ row[column.fieldName] }}
                </p>
              </ng-container>
              <ng-template #emptyField>
                -
              </ng-template>
            </span>
          </span>
          <ng-template #notChecked>
            -
          </ng-template>
        </mat-cell>
      </ng-container>
    </span>

    <mat-header-row class="flex justify-start" *matHeaderRowDef="columnsToShow; sticky: this.stickyHeader">
    </mat-header-row>

    <mat-row
      class="relative"
      *matRowDef="let row; let i = index; columns: columnsToShow"
      matRipple
      [@itemStatus]="row.status"
      [ngClass]="{
        'element-row-expanded': row.isExpanded,
        'element-row': !row.isExpanded,
        'selected-row':
          selection.isSelected(row) ||
          (this.dataSource &&
            row.partNumberManufacturer !== '' &&
            (this.selectedRowState$ | async) === row.serialNumberCustomer),
        'white-background': this.dataSource && (this.selectedRowState$ | async) !== row.serialNumberCustomer,
        pointer: this.clickableRows && row.partNumberManufacturer !== '',
        default: !this.clickableRows
      }"
      [appRowDetail]="row"
      [rowDetailTemplate]="row.selectedTemplate"
      [onExpanded]="row.isExpanded"
      [ngStyle]="getMultiColorRow(i)"
    >
    </mat-row>
  </mat-table>
  <mat-toolbar *ngIf="this.dataSource.filteredData.length === 0">
    <div>
      <span *ngIf="getTableEmptyState()">&nbsp;{{ getTableEmptyState() }}</span>
    </div>
  </mat-toolbar>

  <div *ngIf="this.dataSource && this.pageSizeOptions && this.pageSizeOptions.length > 0">
    <mat-paginator [pageSize]="this.pageSize" [pageSizeOptions]="this.pageSizeOptions"></mat-paginator>
  </div>
</div>

<ng-template #gridTemplate let-element>
  <div class="detail-table-container">
    <h4 class="mb-5">Child parts</h4>
    <div class="mat-row" [@detailExpand] style="overflow: hidden">
      <app-child-table
        *ngIf="detailData"
        [data]="element[element.selectedColumn]"
        [isChildClickable]="this.isChildClickable"
        [configuration]="getDetailConfiguration(element.selectedColumn)"
        [removeChildSelection]="this.removeChildSelection"
        (childLinkEvent)="this.emitLinkClick($event)"
        (childTableSelection)="this.getChildTableSelection($event)"
      >
      </app-child-table>
    </div>
  </div>
</ng-template>
