<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<div *ngIf="dataSource" [class.mat-elevation-z8]="!noShadow">
  <div *ngIf="selectedPartsInfoLabel" class="table--selected__container">
    <p class="regular-text">{{ selectedPartsInfoLabel | i18n: { amount: selection?.selected?.length || 0 } }}</p>
    <app-button *ngIf="this.selection?.selected?.length > 0" (click)="clickSelectAction.emit()">
      {{ selectedPartsActionLabel | i18n }}
    </app-button>
  </div>

  <table
    [dataSource]="dataSource"
    (matSortChange)="updateSortingOfData($event)"
    mat-table
    matSort
    data-testid="table-component--test-id"
  >
    <ng-container *ngFor="let column of tableConfig?.displayedColumns; let i = index">
      <ng-container
        *ngTemplateOutlet="column === 'select' ? SelectColumn : NormalColumn; context: { $implicit: column, i: i }"
      ></ng-container>
    </ng-container>

    <tr *matHeaderRowDef="tableConfig.displayedColumns" mat-header-row data-testid="table-component--head-row"></tr>
    <tr
      *matRowDef="let row; columns: tableConfig.displayedColumns"
      (click)="this.selected.emit(row)"
      [class.loading]="this.isDataLoading"
      mat-row
      data-testid="table-component--body-row"
    ></tr>

    <tr *matNoDataRow class="mat-row no-hover" data-testid="table-component--body-row">
      <td class="mat-cell" [attr.colspan]="tableConfig.displayedColumns.length">
        <div class="table--no-data">
          <mat-icon color="primary" class="table--no-data__icon">build</mat-icon>
          <br />
          <h3>{{ 'table.noResultFound' | i18n }}</h3>
          <p>{{ 'table.tryAgain' | i18n }}</p>
        </div>
      </td>
    </tr>

    <ng-template #SelectColumn>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && areAllRowsSelected()"
            [indeterminate]="selection.hasValue() && !areAllRowsSelected()"
            data-testid="select-all--test-id"
          >
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="this.toggleSelection(row)"
            [checked]="selection.isSelected(row)"
            data-testid="select-one--test-id"
          >
          </mat-checkbox>
        </td>
      </ng-container>
    </ng-template>

    <ng-template #NormalColumn let-column let-i="i">
      <ng-container matColumnDef="{{ column }}">
        <th
          *matHeaderCellDef
          [mat-sort-header]="tableConfig.sortableColumns?.[column] ? '' : null"
          [disabled]="!tableConfig.sortableColumns?.[column]"
          mat-header-cell
          class="table--cell"
        >
          <ng-container *ngIf="tableConfig?.header?.[i]; else pureColumn">
            {{ tableConfig?.header?.[i] | i18n }}
          </ng-container>
        </th>
        <td *matCellDef="let element" mat-cell class="table--cell" data-testid="table-component--cell-data">
          <ng-container
            [ngTemplateOutlet]="tableConfig?.cellRenderers?.[column] ? tableConfig?.cellRenderers?.[column] : autoFormat"
            [ngTemplateOutletContext]="{ value: element[column], row: element }"
          >
          </ng-container>
        </td>
      </ng-container>
    </ng-template>
  </table>

  <mat-paginator
    [length]="this.totalItems"
    [pageIndex]="this.pageIndex"
    [pageSizeOptions]="[5, 10, 20]"
    [attr.aria-label]="'table.selectPageSize' | i18n"
    (page)="onPaginationChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

<ng-template #pureColumn>
  {{ pureColumn }}
</ng-template>

<ng-template #autoFormat let-value="value">
  {{ value | autoFormat | i18n }}
</ng-template>
