name: Build&Push Docker image
on:
  push:
    branches: [ main ]

env:
  REGISTRY: ghcr.io

jobs:

  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: frontend/
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}:fe_latest , ${{ env.REGISTRY }}/${{ github.repository }}:fe_${{ github.sha }}
