<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="layout-header">
  <nav class="navbar">
    <section class="navbar-header">
      <div class="navbar-header__container">
        <div class="navbar-logo-content cursor-pointer" (click)="this.navigateToHome()">
          <img src="/assets/images/catena-x.svg" alt="Catena-x" />
          <h3 class="uppercase">Catena-X</h3>
        </div>
      </div>

      <div class="navbar-header__container">
        <div class="navbar-menu-container">
          <app-language-selector></app-language-selector>

          <p class="small-text bold">{{ this.userDetails.name }}</p>

          <!-- Profile dropdown -->
          <div class="navbar-menu-content">
            <div (click)="this.expand($event)">
              <button class="navbar-menu-btn" id="user-menu" aria-haspopup="true">
                <span class="sr-only">{{ 'layout.nav.openUserMenu' | i18n }}</span>
                <app-avatar [imageUrl]="this.getCompanyLogo()"></app-avatar>
              </button>
            </div>
            <div
              *ngIf="this.isExpanded"
              [class.fade-in]="this.isExpanded"
              class="navbar-menu-items-container"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu"
            >
              <section class="flex flex-row p-2">
                <span class="navbar-menu-items__icon">
                  <app-avatar [imageUrl]="this.getCompanyLogo()"></app-avatar>
                </span>
                <section class="flex flex-col p-1">
                  <p class="component-headline text-primary break-words">{{ this.userDetails.role }}</p>
                  <p class="regular-text">{{ this.userDetails.name }}</p>
                  <p class="small-text break-words">{{ this.userDetails.email }}</p>
                </section>
              </section>

              <mat-divider></mat-divider>

              <div class="navbar-menu-items" (click)="this.logOut()">
                <mat-icon class="ml-2 text-tundora">power_settings_new</mat-icon>
                <p class="regular-text navbar-menu-items__label" role="menuitem">
                  {{ 'layout.nav.signOut' | i18n }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </nav>
</div>
